@page
@model EmployeeApp.Pages.Employees.IndexModel

@{
    ViewData["Title"] = "View Employees";
}

<h1 class="my-4">All Employees</h1>

<p>
    <a class="btn btn-primary mb-3" asp-page="Create">Create New</a>
</p>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Designation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employee)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>
                <td>
                    <a class="btn btn-sm btn-info" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-secondary" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-sm btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    h1 {
        text-align: center;
        color: #007bff;
    }

    .table {
        margin-top: 20px;
    }

    .btn {
        margin-right: 5px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }

    .btn-info {
        background-color: #17a2b8;
        border-color: #17a2b8;
    }

        .btn-info:hover {
            background-color: #138496;
            border-color: #117a8b;
        }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
    }

        .btn-secondary:hover {
            background-color: #545b62;
            border-color: #4e555b;
        }

    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
    }

        .btn-danger:hover {
            background-color: #c82333;
            border-color: #bd2130;
        }
</style>
